@model do_an_cnpm.Models.PHIEUCHUPXQUANG

@{
    ViewBag.Title = "SuaXQ";
    Layout = "~/Views/Shared/_TCADMIN.cshtml";
}

<style>
    select {
        height: 40px;
        padding: 8px 12px;
        border: 1px solid #b3b3b3;
        border-radius: 3px;
        outline: none;
        font-size: 1.4rem;
    }
</style>
<div class="app__container">
    <div class="grid wide">

        <!-- <div class="aboutus">
          <h3 class="aboutus-label">About us</h3>
        </div> -->
        <div class="row sm-gutter app__content">
            <div class="col l-2 m-0 c-0">
                <nav class="category">
                    <div class="category-title">DANH MỤC</div>
                    <ul class="category-list">
                        <li class="category-item">
                            <a href="@Url.Action("CaKham","CaKham")" class="category-item__link">
                                <i class="fas fa-solid fa-list"></i>
                                Danh sách ca khám
                            </a>
                        </li>
                        <li class="category-item">
                            <a href="@Url.Action("DSBenhNhan","DSBenhNhan")" class="category-item__link">
                                <i class="fas fa-id-card"></i>
                                Danh sách bệnh nhân
                            </a>
                        </li>
                        <li class="category-item">
                            <button href="#" class="category-item__link category-item-button">
                                <i class="fas fa-address-card"></i>
                                Lập phiếu khám bệnh
                                <i class="fas fa-solid fa-chevron-down" style="margin-left: 12px;"></i>
                            </button>
                            <div class="category-item_list-dv" style="margin-left: 45px;">
                                <ul class="category-item_list">
                                    <!-- <li class="category-item_list-li"><a class="category-item_list-link" href="#">Lập phiếu khám bệnh</a></li> -->
                                    <li class="category-item_list-li"><a class="category-item_list-link" style="color: var(--primary-color);" href="@Url.Action("XetNghiem", "XetNghiem")">Phiếu xét nghiệm</a></li>
                                    <li class="category-item_list-li"><a class="category-item_list-link" href="@Url.Action("XQuang", "XQuang")">Phiếu chụp X - quang</a></li>
                                    <li class="category-item_list-li"><a class="category-item_list-link" href="@Url.Action("ChupCT", "ChupCT")">Phiếu chụp CT</a></li>
                                    <li class="category-item_list-li"><a class="category-item_list-link" href="@Url.Action("TaiKham", "TaiKham")">Phiếu hẹn tái khám</a></li>
                                </ul>
                            </div>

                        </li>
                        <li class="category-item">
                            <button href="#" class="category-item__link category-item-button">
                                <i class="fas fa-clinic-medical"></i>
                                Thuốc</a>
                                <i class="fas fa-solid fa-chevron-down" style="margin-left: 110px;"></i>
                            </button>
                            <div class="category-item_list-dv" style="margin-left: 45px;">
                                <ul class="category-item_list">
                                    @*<li class="category-item_list-li"><a class="category-item_list-link" href="@Url.Action("TaoThuoc", "Thuoc")">Lập danh sách thuốc</a></li>*@
                                    <li class="category-item_list-li"><a class="category-item_list-link" href="@Url.Action("Thuoc", "Thuoc")">Tra cứu thuốc</a></li>
                                    <!-- <li class="category-item_list-li"><a class="category-item_list-link" href="#">Lập phiếu nhập thuốc</a></li> -->
                                    <li class="category-item_list-li"><a class="category-item_list-link" href="@Url.Action("DonThuoc", "DonThuoc")">Lập đơn thuốc</a></li>

                                </ul>
                            </div>

                        </li>
                        <li class="category-item">
                            <a href="@Url.Action("HoaDon", "HoaDon")" class="category-item__link">
                                <i class="fas fa-money-check-alt"></i>
                                Lập hóa đơn thanh toán
                            </a>
                        </li>
                        <li class="category-item">
                            <a href="@Url.Action("DoanhThuT", "DoanhThuT")" class="category-item__link">
                                <i class="fas fa-chart-bar"></i>
                                Doanh thu
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col l-10 m-12 c-12">

                <div class="home-filter hide-on-mobile-tablet">
                    <span class="home-filter__label">Phòng khám tai mũi họng</span>

                </div>


                <div class="home-product">
                    <div class="row sm-gutter">
                        <!-- Product item -->

                        <div class="home-product-title">
                            <div class="home-product-title-label">
                                <a href="#" class="home-product-title-label__link">
                                    <h2 class="home-product-title-label__heading">Lập phiếu chụp X - Quang</h2>
                                </a>


                            </div>


                            <div class="home-product-contents-1">
                                <form action="" method="POST" class="form3" id="form-2">
                                    @using (Html.BeginForm("LapPhieuXQ", "XQuang", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        <h3 class="heading" style="font-size: 2rem ;">Phiếu chụp X - Quang</h3>
                                        <p class="desc"></p>

                                        <div class="spacer"></div>
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group1">
                                            <div class="form-group2">
                                                <label for="text" class="form-label">Họ tên</label>
                                                @{Html.RenderAction("ChonBN", "CaKham"); }
                                                <span class="form-message"></span>
                                            </div>

                                            <div class="form-group2">
                                                <label for="text" class="form-label">Ngày khám</label>
                                                @{Html.RenderAction("ChonNgayKham", "CaKham"); }
                                                <span class="form-message"></span>
                                            </div>

                                        </div>

                                        <div class="form-group1">
                                            <div class="form-group2">
                                                <label for="text" class="form-label">Ngày xét nghiệm</label>
                                                @Html.EditorFor(model => model.Ngay, new { htmlAttributes = new { @class = "form-control", @required = "Vui lòng điền trường này", @placeholder = "Ngày xét nghiệm..." } })
                                                @Html.ValidationMessageFor(model => model.Ngay, "", new { @class = "text-danger" })
                                                <span class="form-message"></span>
                                            </div>
                                            <div class="form-group2">
                                                <label for="text" class="form-label">Giới tính</label>
                                                @{Html.RenderAction("ChonGioiTinh", "CaKham"); }
                                                <span class="form-message"></span>
                                            </div>
                                        </div>

                                        <div class="form-group1">
                                            <div class="form-group2">
                                                <label for="text" class="form-label">Địa chỉ</label>
                                                @{Html.RenderAction("ChonDiaChi", "CaKham"); }
                                                <span class="form-message"></span>
                                            </div>
                                            <div class="form-group2">
                                                <label for="text" class="form-label">Bác sĩ điều trị</label>
                                                @{Html.RenderAction("ChonBS", "CaKham"); }
                                                <span class="form-message"></span>
                                            </div>
                                        </div>

                                        <div class="form-group1">
                                            <div class="form-group2">
                                                <label for="text" class="form-label">Chuẩn đoán</label>
                                                @Html.EditorFor(model => model.ChuanDoan, new { htmlAttributes = new { @class = "form-control", @required = "Vui lòng điền trường này", @placeholder = "Chuẩn đoán..." } })
                                                @Html.ValidationMessageFor(model => model.ChuanDoan, "", new { @class = "text-danger" })
                                                <span class="form-message"></span>
                                            </div>
                                            <div class="form-group2">

                                            </div>
                                        </div>

                                        <div class="form-group1">
                                            <div class="form-group2">
                                                <label for="text" class="form-label">Yêu cầu chụp X - Quang</label>
                                                @Html.EditorFor(model => model.YeuCauChupXQuang, new { htmlAttributes = new { @class = "form-control", @required = "Vui lòng điền trường này", @placeholder = "Yêu cầu xét nghiệm..." } })
                                                @Html.ValidationMessageFor(model => model.YeuCauChupXQuang, "", new { @class = "text-danger" })
                                                <span class="form-message"></span>
                                            </div>
                                            <div class="form-group2">
                                                <label for="text" class="form-label">Kết quả chụp </label>
                                                <img src="@Url.Content(Model.KetQuaChupXQuang)" style="height:100px; width:100px;" id="previewImage" />
                                                <input type="file" name="ImageUpload" onchange="ShowImagePreview(this, document.getElementById('previewImage'))" />
                                                @Html.ValidationMessageFor(model => model.KetQuaChupXQuang, "", new { @class = "text-danger" })
                                                <span class="form-message"></span>
                                            </div>
                                        </div>


                                        <div class="form-button">
                                            <!--<button type="submit" class="form-submit1"> <a href="">In phiếu</a></button> -->
                                            <button type="submit" class="form-submit1">Cập nhật</button>
                                            <!-- <button class="form-submit1"> <a href="">Đăng ký</a></button> -->
                                        </div>
                                    }



                                </form>

                                <button type="submit" class="btn-back">
                                    <a href="@Url.Action("XQuang", "XQuang")">Trở về</a>
                                </button>


                            </div>
                        </div>



                    </div>
                </div>



            </div>
        </div>
    </div>

